@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.scroll {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1002;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
  transition: all 1s ease;
}

/*fixed*/
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*container*/
.container {
  width: 83.6vw;
  height: inherit;
  margin: 0 auto;
}

/*layout*/
#section1 {
  height: 1500px;
  background: #fff;
}

#section2 {
  height: 900px;
}

#section3 {
  padding-bottom: 200px;
  overflow: hidden;
}

#mainmenu {
  height: 3000px;
}

#section4 {
  height: 3000px;
}

#section5 {
  height: 3000px;
}

#section6 {
  height: 3000px;
}

#section7 {
  height: 3000px;
}

#section8 {
  height: 3000px;
}

/* header */
#header {
  position: fixed;
  display: block;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 200px;
}

#header h1 {
  font-size: 46px;
  margin-left: 8vw;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 75px;
}

#header h1 span {
  position: absolute;
  top: 35px;
  font-size: 14px;
  font-weight: 200;
  width: 500px;
  padding-left: 30px;
  transition: all 1.5s ease-out;
}

#header .ham {
  margin-right: 8.2vw;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  top: 120px;
  right: 0;
}

#header .ham_response {
  display: none;
  width: 30px;
  height: 30px;
  /* background: rgba(0,0,0,0.4); */
  position: absolute;
  top: 13vh;
  right: 9.6vw;
}

#header .ham_response span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: black;
  position: relative;
}

#header .ham_response span::before {
  content: "";
  position: relative;
  top: -9px;
  left: 0;
  height: 2px;
  background: black;
  width: 100%;
  display: block;
}

#header .ham_response span::after {
  content: "";
  position: relative;
  bottom: -7px;
  left: 0;
  height: 2.5px;
  background: black;
  width: 100%;
  display: block;
}

/*sec1*/
.sec1 .number {
  z-index: 1001;
}

.sec1 > .number > div {
  width: 70px;
  height: 115px;
  float: left;
  padding: 6px;
  overflow: hidden;
}

.sec1 > .number > div > div {
  overflow: hidden;
  width: auto;
  height: auto;
  line-height: 1;
  text-align: center;
}

.sec1 > .number > div > div span {
  font-family: "Poppins";
  display: block;
  font-size: 7vw;
  color: #fff;
  font-weight: 100;
  opacity: 0.4;
  padding: 6px 0;
}

.sec1 > .number > div > div span:last-child {
  font-size: 6vw;
}

.sec1 > .letter {
  display: block;
  overflow: hidden;
}

.sec1 > .letter.fixed {
  z-index: 100;
}

.sec1 > .letter span {
  float: left;
  font-family: "Poppins";
  display: block;
  font-size: 6vw;
  color: #fff;
  font-weight: 100;
  opacity: 1;
  padding: 6px;
  width: 70px;
  height: 115px;
  margin-top: -37px;
  text-align: center;
  line-height: 1.4;
}

.sec1 .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.sec1 .cover > div {
  position: absolute;
  width: 8.333%;
  height: 100vh;
  top: 0;
  background: black;
  margin-left: auto;
  /*가운데정렬*/
}

.sec1 .cover > div:nth-child(1) {
  right: calc((100% / 12) * 11);
}

.sec1 .cover > div:nth-child(2) {
  right: calc((100% / 12) * 10);
}

.sec1 .cover > div:nth-child(3) {
  right: calc((100% / 12) * 9);
}

.sec1 .cover > div:nth-child(4) {
  right: calc((100% / 12) * 8);
}

.sec1 .cover > div:nth-child(5) {
  right: calc((100% / 12) * 7);
}

.sec1 .cover > div:nth-child(6) {
  right: calc((100% / 12) * 6);
}

.sec1 .cover > div:nth-child(7) {
  right: calc((100% / 12) * 5);
}

.sec1 .cover > div:nth-child(8) {
  right: calc((100% / 12) * 4);
}

.sec1 .cover > div:nth-child(9) {
  right: calc((100% / 12) * 3);
}

.sec1 .cover > div:nth-child(10) {
  right: calc((100% / 12) * 2);
}

.sec1 .cover > div:nth-child(11) {
  right: calc(100% / 12);
}

.sec1 .cover > div:nth-child(12) {
  right: 0;
}

/*sec2*/
.sec2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*sec2 breaks*/
.sec2 .breaks {
  position: relative;
  width: 83.333%;
  height: 60vh;
  display: flex;
}

.sec2 .breaks div {
  overflow: hidden;
  width: 10%;
  height: 100%;
}

.sec2 .breaks div.break1 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 0 0;
  background-size: 1100%;
}

.sec2 .breaks div.break2 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 10% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break3 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 20% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break4 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 30% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break5 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 40% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break6 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 50% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break7 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 60% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break8 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 70% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break9 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 80% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break10 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg) no-repeat
    center;
  background-position: 90% 0;
  background-size: 1100%;
}

.break2:before {
  content: "PORTFOLIO";
  position: relative;
  left: 58.333%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break3:before {
  content: "PORTFOLIO";
  position: relative;
  left: -38.667%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break4:before {
  content: "PORTFOLIO";
  position: relative;
  left: -138.5%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break5:before {
  content: "PORTFOLIO";
  position: relative;
  left: -238.5%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break6:before {
  content: "PORTFOLIO";
  position: relative;
  left: -341%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break7:before {
  content: "PORTFOLIO";
  position: relative;
  left: -441%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break8:before {
  content: "PORTFOLIO";
  position: relative;
  left: -531%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.break9:before {
  content: "PORTFOLIO";
  position: relative;
  left: -631%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: "Poppins";
  font-weight: 800;
  text-align: center;
}

.sec2 .txt-box {
  position: absolute;
  bottom: -3vh;
  left: 18vw;
  width: 21%;
  padding: 30px;
  background-color: black;
}

.sec2 .txt-box p {
  color: #fff;
  font-size: 2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.sec2 .txt-box span {
  display: block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 100;
  padding-top: 100px;
}

.txt-box span svg {
  width: 26px;
  opacity: 0.7;
}

.txt-box .st0 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}

.txt-box .st1 {
  fill: none;
  stroke: #ffffff;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*sec3*/

.sec3 .intro_desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 300px 0;
}

.sec3 .intro_desc div {
  flex: 0 0 46%;
}

.sec3 .intro_desc div p {
  display: block;
  line-height: 1.8;
  font-family: "S-CoreDream-3Light";
  font-size: 1.2vw;
}

.sec3 .intro_pic {
  display: flex;
  justify-content: space-between;
}

.sec3 .intro_pic > div {
  width: 50%;
  flex: 0 0 46%;
  position: relative;
}

.sec3 .intro_pic .left {
  padding: 100px 0;
}

.sec3 .intro_pic .left h2 {
  font-family: "Poppins";
  font-size: 100px;
  font-weight: 800;
  padding-bottom: 20px;
}

.sec3 .intro_pic .left p {
  width: 100%;
  font-size: 1.2vw;
  line-height: 1.8;
  font-family: "S-CoreDream-3Light";
  font-size: 1.2vw;
}

.sec3 .intro_pic .left p {
  font-family: "S-CoreDream-2ExtraLight";
  font-size: 20px;
  word-break: keep-all;
}

.sec3 .intro_pic .right {
  position: relative;
}

.sec3 .intro_pic .right div img {
  width: 100%;
}

.sec3 .intro_pic .right .img1 {
  position: absolute;
  top: 140px;
  left: 0;
  width: 370px;
  height: 370px;
}

.sec3 .intro_pic .right .img1 .cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.sec3 .intro_pic .right .img2 {
  position: absolute;
  top: 285px;
  left: 220px;
  width: 370px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover2 {
  position: absolute;
  top: 0;
  left: 150px;
  width: 130px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover3 {
  position: absolute;
  top: 0;
  left: 270px;
  width: 100px;
  height: 370px;
}

/*mainmenu*/
.mainmenu {
}

.mainmenu .box1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 10px;
  background: #000;
}

.mainmenu .txt1 > div > span {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  color: #fff;
  font-size: 86px;
  white-space: nowrap;
}

.mainmenu .main_sect {
}

.mainmenu .main_sect ul {
}

.mainmenu .main_sect ul li {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18%;
  height: 30%;
  font-family: "Poppins";
  color: #fff;
}

.mainmenu .main_sect ul li:nth-child(1) {
  left: 25%;
}

.mainmenu .main_sect ul li:nth-child(2) {
  left: 50%;
}

.mainmenu .main_sect ul li:nth-child(3) {
  left: 75%;
}

.mainmenu .main_sect ul li em {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  margin-bottom: 15px;
}

.mainmenu .main_sect ul li h3 {
  font-size: 26px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.mainmenu .main_sect ul li p {
  font-size: 18px;
  line-height: 1.4;
}

/*sec4*/

.sec4 {
}

.sec4 .box2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
}

.sec4 .box2 .box2txt {
  color: #fff;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.sec4 .box2 .box2txt2 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.sec4 .box2 .desktop {
  position: absolute;
  width: 400px;
  height: 240px;
  overflow: hidden;
}

.sec4 .box2 .desktop .display {
  position: absolute;
  z-index: 100;
  background: url(../img/png/display.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sec4 .box2 .desktop img {
  position: absolute;
  width: 79.5%;
  top: 7%;
  left: 10.5%;
}

.sec4 .box2 .desktop_desc span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 50px 0;
  color: #fff;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.sec4 .box2 .desktop_desc span strong {
  font-size: 2vw;
  line-height: 2;
  letter-spacing: -2px;
  display: block;
}

.sec4 .box2 .desktop_desc span a {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease;
}

.sec4 .box2 .desktop_desc span a:hover {
  color: red;
}

/*sec5*/
.sec5 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: #000;
}

.sec5 > div {
  color: white;
}

.sec5 .left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 100vh;
}

.sec5 .left > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 600px;
}

.sec5 .left > div:after {
  content: "CSS-ANIMATION";
  position: absolute;
  display: block;
  top: 150px;
  right: -120px;
  transform: rotate(90deg);
  color: #ccc;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.sec5 .left > div h3 {
  position: absolute;
  z-index: 5;
  top: -78px;
  right: 0;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-size: 7vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  letter-spacing: -5px;
}

.sec5 .left > div span {
  position: absolute;
  z-index: -1;
  top: -78px;
  right: 0;
  color: #fff;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  font-size: 7vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  letter-spacing: -5px;
}

.sec5 .left > div iframe {
  width: 100%;
  height: 100%;
}

.sec5 .right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 100vh;
}

.sec5 .right > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 600px;
}

.sec5 .right > div > h3 {
  padding-left: 230px;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke-width: 2px;
  font-size: 25vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  transform: rotate(90deg);
}

/*sec6*/
.sec6 {
}
.sec6 .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.sec6 .cover > div {
  position: absolute;
  width: 8.333%;
  height: 100vh;
  top: 0;
  background: black;
  margin-left: auto;
}

.sec6 .cover > div:nth-child(1) {
  right: calc((100% / 12) * 11);
}
.sec6 .cover > div:nth-child(2) {
  right: calc((100% / 12) * 10);
}
.sec6 .cover > div:nth-child(3) {
  right: calc((100% / 12) * 9);
}
.sec6 .cover > div:nth-child(4) {
  right: calc((100% / 12) * 8);
}
.sec6 .cover > div:nth-child(5) {
  right: calc((100% / 12) * 7);
}
.sec6 .cover > div:nth-child(6) {
  right: calc((100% / 12) * 6);
}
.sec6 .cover > div:nth-child(7) {
  right: calc((100% / 12) * 5);
}
.sec6 .cover > div:nth-child(8) {
  right: calc((100% / 12) * 4);
}
.sec6 .cover > div:nth-child(9) {
  right: calc((100% / 12) * 3);
}
.sec6 .cover > div:nth-child(10) {
  right: calc((100% / 12) * 2);
}
.sec6 .cover > div:nth-child(11) {
  right: calc((100% / 12) * 1);
}
.sec6 .cover > div:nth-child(12) {
  right: 0;
}
.sec6 .cover2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.sec6 .cover2 > div {
  position: absolute;
  width: 8.333%;
  height: 100vh;
  top: 0;
  border-right: 1px solid #ccc;
  margin-left: auto;
}

.sec6 .cover2 > div:nth-child(1) {
  right: calc((100% / 12) * 11);
}
.sec6 .cover2 > div:nth-child(2) {
  right: calc((100% / 12) * 10);
}
.sec6 .cover2 > div:nth-child(3) {
  right: calc((100% / 12) * 9);
}
.sec6 .cover2 > div:nth-child(4) {
  right: calc((100% / 12) * 8);
}
.sec6 .cover2 > div:nth-child(5) {
  right: calc((100% / 12) * 7);
}
.sec6 .cover2 > div:nth-child(6) {
  right: calc((100% / 12) * 6);
}
.sec6 .cover2 > div:nth-child(7) {
  right: calc((100% / 12) * 5);
}
.sec6 .cover2 > div:nth-child(8) {
  right: calc((100% / 12) * 4);
}
.sec6 .cover2 > div:nth-child(9) {
  right: calc((100% / 12) * 3);
}
.sec6 .cover2 > div:nth-child(10) {
  right: calc((100% / 12) * 2);
}
.sec6 .cover2 > div:nth-child(11) {
  right: calc((100% / 12) * 1);
}
.sec6 .cover2 > div:nth-child(12) {
  right: 0;
}

.sec6 .sec6_txt {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-5deg);
  line-height: 1.8;
  font-size: 3.5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.sec6 .float_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
.sec6 .float_box .float_tit {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "S-CoreDream-2ExtraLight";
  font-size: 10vw;
  font-weight: 100;
  text-align: left;
  line-height: 1.2;
  word-break: keep-all;
}

.sec6 .float_box div {
  position: absolute;
  width: 8.3333%;
  margin-left: auto;
}
.sec6 .float_box div:nth-of-type(1) {
  right: calc((100% / 12) * 11);
  height: 700px;
  background: #000;
  position: relative;
}

.sec6 .float_box div:nth-of-type(2) {
  top: 0;
  right: calc((100% / 12) * 10);
  height: 700px;
  background: #000;
}

.sec6 .float_box div:nth-of-type(3) {
  top: 0;
  right: calc((100% / 12) * 9);
  height: 700px;
  background: #000;
}
.sec6 .float_box div:nth-of-type(4):after {
  content: "";
  position: absolute;
  z-index: 200;
  top: 300px;
  right: 0;
  width: 150%;
  height: 500px;
  background: black;
}
.sec6 .float_box div:nth-of-type(4) {
  top: 50px;
  right: calc((100% / 12) * 8);
  height: 800px;
  background: red;
}

.sec6 .float_box div:nth-of-type(5) {
  top: 100px;
  right: calc((100% / 12) * 7);
  height: 900px;
  background: red;
}
.sec6 .float_box div:nth-of-type(6) {
  top: 150px;
  right: calc((100% / 12) * 6);
  height: 800px;
  background: url(../img/computer-1867758_1280.jpg) center center;
  background-size: cover;
}
.sec6 .float_box div:nth-of-type(7) {
  top: 200px;
  right: calc((100% / 12) * 5);
  height: 800px;
  background: #000;
}
.sec6 .float_box div:nth-of-type(8) {
  top: 200px;
  right: calc((100% / 12) * 4);
  height: 900px;
  background: #000;
}
.sec6 .float_box div:nth-of-type(8):after {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 100px;
  background: red;
}
.sec6 .float_box div:nth-of-type(9) {
  top: 0px;
  right: calc((100% / 12) * 3);
  height: 400px;
  background: url(../img/computer-1867758_1280.jpg) right;
  background-size: cover;
}

.sec6 .float_box div:nth-of-type(10) {
  top: 450px;
  right: calc((100% / 12) * 2);
  height: 600px;
  background: #000;
}

.sec6 .float_box div:nth-of-type(11) {
  top: 700px;
  right: calc((100% / 12) * 1);
  height: 400px;
  background: red;
}

.sec6 .float_box div:nth-of-type(11):after {
  content: "";
  position: absolute;
  right: 0;
  top: 400px;
  width: 150%;
  height: 200px;
  background: red;
}
.sec6 .float_box div:nth-of-type(12) {
  top: 500px;
  right: 0;
  height: 400px;
  background: #000;
}

.sec6 .CRS {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
.sec6 .CRS .currentscroll {
  position: absolute;
  display: block;
  left: 16.666%;
  top: 30%;
  width: 300px;
  height: 100px;
  background: #000;
}

.sec6 .CRS .currentscroll:after {
  position: absolute;
  content: "SCROLL";
  display: block;
  width: 100px;
  height: 50px;
  background: red;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: 50px;
  top: -50px;
  left: -100px;
}
.sec6 .CRS .currentscroll strong {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-size: 2.8vw;
  font-family: "Poppins", sans-serif;
  transform: skew(-4deg);
  line-height: 100px;
  text-align: center;
  position: relative;
}
.sec6 .CRS .currentscroll strong:after {
  position: absolute;
  content: "NOW";
  display: block;
  color: #fff;
  font-size: 0.7vw;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  top: 0;
  left: 15%;
}

.sec6 .circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.sec6 .circles span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.sec6 .BGcircle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.sec6 .BGcircle span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.sec6 .java1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
.sec6 .java1 .java1_tit {
  position: absolute;
  display: block;
  left: 16.666%;
  top: 30%;
  width: 300px;
  height: 100px;
  background: #f1f1f1;
}

.sec6 .java1 .java1_tit strong {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-size: 2.4vw;
  font-family: "Poppins", sans-serif;
  transform: skew(-4deg);
  line-height: 100px;
  text-align: center;
}
.sec6 .java1 .java1_desc {
  position: absolute;
  display: block;
  left: 24.999%;
  top: 30%;
  width: 550px;
  padding: 20px;
  background: #f1f1f1;
}
.sec6 .java1 .java1_desc p {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-family: "S-CoreDream-3Light";
  font-size: 1.2vw;
}
.sec6 .java1 .java1_visual {
  position: absolute;
  z-index: 500;
  display: block;
  left: 41.665%;
  transform: translateY(-50%);
  width: 650px;
  height: 800px;
  /* width:33.332%; */
  /* height:93%;  */
  overflow-y: hidden;
}

.sec6 .java1 .java1_visual iframe {
  width: 100%;
  height: 100%;
}

.sec6 .java2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
.sec6 .java2 .java2_tit {
  position: absolute;
  display: block;
  right: 16.666%;
  top: 30%;
  width: 300px;
  height: 100px;
  background: #f1f1f1;
}

.sec6 .java2 .java2_tit strong {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-size: 2.8vw;
  font-family: "Poppins", sans-serif;
  transform: skew(-4deg);
  line-height: 100px;
  text-align: center;
}
.sec6 .java2 .java2_desc {
  position: absolute;
  display: block;
  right: 24.999%;
  top: 30%;
  width: 550px;
  padding: 20px;
  background: #f1f1f1;
}
.sec6 .java2 .java2_desc p {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-family: "S-CoreDream-3Light";
  font-size: 1.2vw;
}
.sec6 .java2 .java2_visual {
  position: absolute;
  z-index: 500;
  display: block;
  right: 41.665%;
  transform: translateY(-50%);
  width: 550px;
  height: 750px;
  /* width:33.332%; */
  /* height:93%;  */
  overflow-y: hidden;
}

.sec6 .java2 .java2_visual iframe {
  width: 100%;
  height: 100%;
}

.sec6 .java3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
}
.sec6 .java3 .java3_tit {
  position: absolute;
  display: block;
  left: 16.666%;
  top: 30%;
  width: 300px;
  height: 100px;
  background: #f1f1f1;
}

.sec6 .java3 .java3_tit strong {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-size: 2.8vw;
  font-family: "Poppins", sans-serif;
  transform: skew(-4deg);
  line-height: 100px;
  text-align: center;
}
.sec6 .java3 .java3_desc {
  position: absolute;
  display: block;
  left: 24.999%;
  top: 30%;
  width: 550px;
  padding: 20px;
  background: #f1f1f1;
}
.sec6 .java3 .java3_desc p {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  font-family: "S-CoreDream-3Light";
  font-size: 1.2vw;
}
.sec6 .java3 .java3_visual {
  position: absolute;
  z-index: 500;
  display: block;
  left: 41.665%;
  transform: translateY(-50%);
  width: 800px;
  height: 700px;
  /* width:33.332%; */
  /* height:93%;  */
  overflow-y: hidden;
}

.sec6 .java3 .java3_visual iframe {
  width: 100%;
  height: 100%;
}

/*sec7*/
.sec7 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: #000;
}
.sec7 .cover_line {
  width: 100%;
  height: 100%;
}
.sec7 .cover_line span {
  position: absolute;
  display: block;
  width: 18.2857%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.sec7 .cover_line span:nth-child(1) {
  right: calc((100% / 7) * 6);
}
.sec7 .cover_line span:nth-child(2) {
  right: calc((100% / 7) * 5);
}
.sec7 .cover_line span:nth-child(3) {
  right: calc((100% / 7) * 4);
}
.sec7 .cover_line span:nth-child(4) {
  right: calc((100% / 7) * 3);
}
.sec7 .cover_line span:nth-child(5) {
  right: calc((100% / 7) * 2);
}
.sec7 .cover_line span:nth-child(6) {
  right: calc((100% / 7) * 1);
}
.sec7 .cover_line span:nth-child(7) {
  right: calc((100% / 7) * 0);
}

.cover_line2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

.sec7 .cover_line2 span {
  position: absolute;
  z-index: 550;
  display: block;
  width: 14.2857%;
  height: 100%;
  transition: all 0.5s ease;
}

.sec7 .cover_line2 span a {
  width: 100%;
  height: 100%;
  display: block;
}
.sec7 .cover_line2 span a h4 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: "S-CoreDream-3Light";
  font-size: 1vw;
}
.sec7 .cover_line2 span:hover {
  background: #fff;
}
.sec7 .cover_line2 span:hover h4 {
  color: black;
}
.sec7 .cover_line2 span:first-of-type:hover:after {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  content: "HWANG MINJI \A 01029693106 \A fangmin226@naver.com";
  display: block;
  width: 80%;
  border-top: 1.5px solid #000;
  color: #000;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  font-size: 1vw;
  line-height: 2;
}
.sec7 .cover_line2 span:nth-of-type(4):hover:after {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  content: "REDESIGN I 5pages";
  display: block;
  width: 80%;
  border-top: 1.5px solid #000;
  color: #000;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  font-size: 1vw;
  line-height: 2;
}
.sec7 .cover_line2 span:nth-of-type(5):hover:after {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  content: "REDESIGN I 4pages";
  display: block;
  width: 80%;
  border-top: 1.5px solid #000;
  color: #000;
  text-align: center;
  font-family: "S-CoreDream-3Light";
  font-size: 1vw;
  line-height: 2;
}

.sec7 .cover_line2 span:nth-child(1) {
  right: calc((100% / 7) * 6);
}
.sec7 .cover_line2 span:nth-child(2) {
  right: calc((100% / 7) * 5);
}
.sec7 .cover_line2 span:nth-child(3) {
  right: calc((100% / 7) * 4);
}
.sec7 .cover_line2 span:nth-child(4) {
  right: calc((100% / 7) * 3);
}
.sec7 .cover_line2 span:nth-child(5) {
  right: calc((100% / 7) * 2);
}
.sec7 .cover_line2 span:nth-child(6) {
  right: calc((100% / 7) * 1);
}
.sec7 .cover_line2 span:nth-child(7) {
  right: calc((100% / 7) * 0);
}
