@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.scroll {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1002;
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

/*fixed*/
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*container*/
.container {
  width: 83.6vw;
  height: inherit;
  margin: 0 auto;
}

/*layout*/
#section1 {
  height: 1500px;
  background: #fff;
}

#section2 {
  height: 900px;
}

#section3 {
  padding-bottom: 200px;
  overflow: hidden;
}

#mainmenu {
  height: 100vh;

}

#section4 {
  height: 100vh;
  position: relative;
}

#section5 {
  height: 1600px;
  overflow: hidden;
}

#section6 {
  height: 5000px;
}

#section7 {
  height: 3000px;
}

#section8 {
  height: 3000px;
}

/* header */
#header {
  position: fixed;
  display: block;
  z-index: 1000;
  left: 0;
  width: 100%;
  height: 200px;
}

#header h1 {
  font-size: 46px;
  margin-left: 8vw;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 75px;
}

#header h1 span {
  position: absolute;
  top: 35px;
  font-size: 14px;
  font-weight: 200;
  width: 500px;
  padding-left: 30px;
  transition: all 1.5s ease-out;
}

#header .ham {
  margin-right: 8.2vw;
  font-size: 14px;
  font-weight: 200;
  position: absolute;
  top: 120px;
  right: 0;
}

#header .ham_response {
  display: none;
  width: 30px;
  height: 30px;
  /* background: rgba(0,0,0,0.4); */
  position: absolute;
  top: 13vh;
  right: 9.6vw;
}

#header .ham_response span {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: black;
  position: relative;
}

#header .ham_response span::before {
  content: '';
  position: relative;
  top: -9px;
  left: 0;
  height: 2px;
  background: black;
  width: 100%;
  display: block;
}

#header .ham_response span::after {
  content: '';
  position: relative;
  bottom: -7px;
  left: 0;
  height: 2.5px;
  background: black;
  width: 100%;
  display: block;
}

/*sec1*/
.sec1 .number {
  z-index: 1001;
}

.sec1>.number>div {
  width: 70px;
  height: 115px;
  float: left;
  padding: 6px;
  overflow: hidden;
}

.sec1>.number>div>div {
  overflow: hidden;
  width: auto;
  height: auto;
  line-height: 1;
  text-align: center;
}

.sec1>.number>div>div span {
  font-family: "Poppins";
  display: block;
  font-size: 7vw;
  color: #fff;
  font-weight: 100;
  opacity: 0.4;
  padding: 6px 0;
}

.sec1>.number>div>div span:last-child {
  font-size: 6vw;
}

.sec1>.letter {
  display: block;
  overflow: hidden;
}

.sec1>.letter.fixed {
  z-index: 1004;
}

.sec1>.letter span {
  float: left;
  font-family: "Poppins";
  display: block;
  font-size: 6vw;
  color: #fff;
  font-weight: 100;
  opacity: 1;
  padding: 6px;
  width: 70px;
  height: 115px;
  margin-top: -37px;
  text-align: center;
  line-height: 1.4;
}

.sec1 .cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.sec1 .cover>div {
  position: absolute;
  width: 8.333%;
  height: 100vh;
  top: 0;
  background: black;
  margin-left: auto;
  /*가운데정렬*/
}

.sec1 .cover>div:nth-child(1) {
  right: calc((100%/12)*11);
}

.sec1 .cover>div:nth-child(2) {
  right: calc((100%/12)*10);
}

.sec1 .cover>div:nth-child(3) {
  right: calc((100%/12)*9);
}

.sec1 .cover>div:nth-child(4) {
  right: calc((100%/12)*8);
}

.sec1 .cover>div:nth-child(5) {
  right: calc((100%/12)*7);
}

.sec1 .cover>div:nth-child(6) {
  right: calc((100%/12)*6);
}

.sec1 .cover>div:nth-child(7) {
  right: calc((100%/12)*5);
}

.sec1 .cover>div:nth-child(8) {
  right: calc((100%/12)*4);
}

.sec1 .cover>div:nth-child(9) {
  right: calc((100%/12)*3);
}

.sec1 .cover>div:nth-child(10) {
  right: calc((100%/12)*2);
}

.sec1 .cover>div:nth-child(11) {
  right: calc(100%/12);
}

.sec1 .cover>div:nth-child(12) {
  right: 0;
}




/*sec2*/
.sec2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*sec2 breaks*/
.sec2 .breaks {
  position: relative;
  width: 83.333%;
  height: 60vh;
  display: flex;
}

.sec2 .breaks div {
  overflow: hidden;
  width: 10%;
  height: 100%;
}

.sec2 .breaks div.break1 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 0 0;
  background-size: 1100%;
}

.sec2 .breaks div.break2 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 10% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break3 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 20% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break4 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 30% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break5 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 40% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break6 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 50% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break7 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 60% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break8 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 70% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break9 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 80% 0;
  background-size: 1100%;
}

.sec2 .breaks div.break10 {
  background: url(../img/charles-deluvio-Lks7vei-eAg-unsplash.jpg)no-repeat center;
  background-position: 90% 0;
  background-size: 1100%;
}

.break2:before {
  content: 'PORTFOLIO';
  position: relative;
  left: 58.333%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break3:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -38.667%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break4:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -138.5%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break5:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -238.5%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break6:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -341%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break7:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -441%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break8:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -531%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.break9:before {
  content: 'PORTFOLIO';
  position: relative;
  left: -631%;
  line-height: 60vh;
  display: inline-block;
  height: 60vh;
  color: #fff;
  font-size: 10vw;
  font-family: 'Poppins';
  font-weight: 800;
  text-align: center;
}

.sec2 .txt-box {
  position: absolute;
  bottom: -3vh;
  left: 18vw;
  width: 21%;
  padding: 30px;
  background-color: black;
}

.sec2 .txt-box p {
  color: #fff;
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.sec2 .txt-box span {
  display: block;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  font-weight: 100;
  padding-top: 100px;
}

.txt-box span svg {
  width: 26px;
  opacity: .7;
}

.txt-box .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

.txt-box .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/*sec3*/

.sec3 .intro_desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 300px 0;
}

.sec3 .intro_desc div {
  flex: 0 0 46%;
}

.sec3 .intro_desc div p {
  display: block;
  line-height: 1.8;
  font-family: 'S-CoreDream-3Light';
  font-size: 1.2vw;
}

.sec3 .intro_pic {
  display: flex;
  justify-content: space-between;
}

.sec3 .intro_pic>div {
  width: 50%;
  flex: 0 0 46%;
  position: relative;
}

.sec3 .intro_pic .left {
  padding: 100px 0;
}

.sec3 .intro_pic .left h2 {
  font-family: 'Poppins';
  font-size: 100px;
  font-weight: 800;
  padding-bottom: 20px;
}

.sec3 .intro_pic .left p {
  width: 100%;
  font-size: 1.2vw;
  line-height: 1.8;
  font-family: 'S-CoreDream-3Light';
  font-size: 1.2vw;
}

.sec3 .intro_pic .left p {
  font-family: 'S-CoreDream-2ExtraLight';
  font-size: 20px;
  word-break: keep-all;
}

.sec3 .intro_pic .right {
  position: relative;
}

.sec3 .intro_pic .right div img {
  width: 100%;
}

.sec3 .intro_pic .right .img1 {
  position: absolute;
  top: 140px;
  left: 0;
  width: 370px;
  height: 370px;
}

.sec3 .intro_pic .right .img1 .cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.sec3 .intro_pic .right .img2 {
  position: absolute;
  top: 285px;
  left: 220px;
  width: 370px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover2 {
  position: absolute;
  top: 0;
  left: 150px;
  width: 130px;
  height: 370px;
}

.sec3 .intro_pic .right .img2 .cover3 {
  position: absolute;
  top: 0;
  left: 270px;
  width: 100px;
  height: 370px;
}

/*mainmenu*/
.mainmenu {
  display: block;
  background: black;
  width: 100%;
  height: 100vh;
  z-index: 900;
  overflow: hidden;
}

.mainmenu h2 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 86px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -2px;
  width: 1200px;
  text-align: right;
  position: relative;
  top: 100px;
  left: 200px;
}

.mainmenu h2 em {
  color: #e75048;
  position: absolute;
  z-index: 3;
  display: block;
  top: 40px;
  font-size: 17px;
}

.mainmenu h2 span {
  display: inline-block;
}

.mainmenu .main_sect {
  width: 100%;
  height: 500px;
  display: flex;
  transform: translateX(0);
  transition: all 1s ease;
}

.mainmenu .main_sect ul {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  display: flex;
}

.mainmenu .main_sect ul li {
  width: 33.333%;
  height: 100%;
  color: #fff;
  font-family: 'Poppins';
  font-size: 16px;
  padding: 67px;
  box-sizing: border-box;
}

.mainmenu .main_sect ul li em {
  display: block;
  padding-bottom: 20px;
  letter-spacing: 1px;
  color: #666;
  font-size: 15px;
  font-weight: 600;
  font-family: 'S-CoreDream-5Medium';
}

.mainmenu .main_sect ul li h3 {
  font-size: 45px;
  line-height: 1.2;
  padding-bottom: 50px;
}

.mainmenu .main_sect ul li p {
  line-height: 1.7;
}

/*sec4*/
#section4 .black_zoomin {
  position: absolute;
  background: #000;
}

.sec4 {
  width: 100%;
  height: 100vh;
}

.sec4 .desktop {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sec4 .desktop>div {
  height: 100%;
}

.sec4 .desktop div.desktop_menu {
  width: 40%;
}

.sec4 .desktop div.desktop_menu ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 63%;
}

.sec4 .desktop div.desktop_menu ul li {
  width: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.sec4 .desktop_menu ul li .menu_btn {
  outline-style: none;
  background: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.sec4 .desktop_menu ul li .menu_btn:before {
  width: 100%;
  height: 1px;
  content: '';
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.sec4 .desktop_menu ul li .menu_btn:after {
  width: 100%;
  height: 1px;
  content: '';
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  right: -400px;
  display: block;
}

.sec4 .desktop_menu ul li .menu_btn.pushed:after {
  animation: push 1s ease forwards;
}

@keyframes push {
  from {
    right: -400px
  }

  to {
    right: 0;
  }
}

.sec4 .desktop_menu ul li .menu_btn.backto:after {
  animation: backto 1s ease forwards;
}

@keyframes backto {
  from {
    right: 0px
  }

  to {
    right: -400px;
  }
}

.sec4 .desktop_menu ul li .arrow {
  width: 25px;
  height: 25px;
  background: #f2f2f2;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.sec4 .desktop_menu ul li .arrow .material-icons {
  transform: rotate(0deg);
  transition: all 1s ease;
}

.sec4 .desktop_menu ul li .arrow .material-icons.rotate {
  transform: rotate(-180deg);
}

.sec4 .desktop_menu ul li .menu_btn h3 {
  font-family: 'S-CoreDream-5Medium';
  font-size: 1.3vw;
  line-height: 100px;
  display: block;
  text-align: left;
}

.sec4 .desktop_menu ul li .menu_cont {
  padding-top: 20px;
}

.sec4 .desktop_menu ul li .menu_cont p {
  font-family: 'S-CoreDream-3Light';
  font-size: 1.1vw;
  color: rgb(176, 175, 175);
}

.sec4 .desktop_menu ul li .menu_cont>a {
  padding: 20px 0 7px 0;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-family: 'S-CoreDream-3Light';
  font-size: .9vw;
  transition: all .6s ease;
}

.sec4 .desktop_menu ul li .menu_cont>a:hover {
  color: #ccc;
}

.sec4 .desktop .desktop_img {
  width: 60%;
  height: 463px;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.sec4 .desktop .desktop_img .black_back {
  content: '';
  width: 150px;
  height: 150px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  color: #fff;
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 135px;
}


.sec4 .desktop .desktop_img>div {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.sec4 .desktop div.desktop_img .desktop_png {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url(../img/png/display.png)no-repeat;
  background-size: contain;
}

.sec4 .desktop_img .desktop_slide {
  position: absolute;
  top: 32px;
  left: 79.5px;
  width: 608px;
  z-index: -1;
}

.sec4 .desktop_img .desktop_slide img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 3s;
}

.sec4 .gray {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1800px;
  height: 100px;
  background: #f2f2f2;
}

/*sec5*/
.sec5 {
  background: #f2f2f2;
  width: 100%;
  height: 100vh;
}

.sec5 .phone_imgs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sec5 .phone_imgs img {
  width: 300px;
  margin-left: 100px;
  margin-top: 1400px;
}

/*sec6*/
.sec6 {
  background: #000;
  width: 100%;
  height: 100vh;
}

.sec6 .css {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sec6 .css .left {
  position: relative;
  width: 72.91%;
  height: 100%;
}

.sec6 .css .left .txt h3 {
  position: absolute;
  z-index: 5;
  top: 70px;
  left: 178px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-size: 9vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.sec6 .css .left .txt span {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 178px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 2px;
  color: #fff;
  font-size: 9vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.sec6 .css .left .animation {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 65vw;
  height: 75vh;
}

.sec6 .css .left .animation div {
  width: 100%;
  height: 100%;
  position: relative;
}

.sec6 .css .left .animation div iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sec6 .css .left .animation div iframe.show {
  z-index: 3;
}

.sec6 .css .left .animation div .code {
  width: 100%;
  height: 95.2%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sec6 .css .left .animation div .code pre {
  margin: 0;
  outline: none;
}

.sec6 .css .left .label_txt {
  position: absolute;
  z-index: 3;
  top: 500px;
  left: 780px;
  width: 550px;
  color: rgba(255, 255, 255, .6);
  font-size: 1.2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  transform: rotate(90deg);
}

.sec6 .left .move_cir {
  position: absolute;
  z-index: 3;
  top: 470px;
  left: 970px;
  border: 3px solid rgb(0, 128, 128);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-sizing: border-box;
}

.sec6 .left .move_cir::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(0, 128, 128);
  border: 0px solid rgb(0, 128, 128);
  box-sizing: border-box;
  transition: all .5s ease;
}

.sec6 .left .move_cir a {
  display: block;
}

.sec6 .left .move_cir:hover::before {
  width: 170px;
  height: 170px;
}

.sec6 .left .move_cir span {
  display: block;
  line-height: 170px;
  text-align: center;
  color: #fff;
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  width: 100%;
  height: 100%;
  display: block;
  animation: rot 3s infinite linear;
}

@keyframes rot {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}



.sec6 .css .right {
  position: relative;
  width: 30%;
  height: 100%;
}

.sec6 .css .right span {
  position: absolute;
  top: 200px;
  left: 168px;
  -webkit-text-stroke-color: rgba(255, 255, 255, .2);
  -webkit-text-stroke-width: 2px;
  color: transparent;
  font-size: 20vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

/*sec7*/
.sec7 {
  background: #fff;
  width: 100%;
  height: 100vh;
}

.sec7 .js_fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

.sec7 .js_fixed .js_logo {
  position: absolute;
  display: block;
  top: 70px;
  left: 42px;
  color: #000;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  transform: rotate(270deg);
}

.sec7 .js_fixed .js_contact {
  position: absolute;
  display: block;
  bottom: 105px;
  left: 42px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transform: rotate(270deg);
}

.sec7 .js_fixed .pag {
  position: absolute;
  width: 30px;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

.sec7 .js_fixed .pag>div {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.sec7 .js_fixed .pag>div:last-child {
  margin-bottom: 0;
}

.sec7 .js_fixed .pag .pag_bar {
  height: 150px;
}

.sec7 .js_fixed .pag .pag_bar span {
  margin: 0 auto;
  width: 1.5px;
  height: 100%;
  background: #ccc;
  display: block;
}


.sec7 .javascript {
  width: 100%;
  height: 100%;
  display: flex;
}

.sec7 .javascript>div {
  width: 50%;
  height: 100%;
}

.sec7 .javascript .left {
  position: relative;
  overflow: hidden;
}

.sec7 .javascript .left .js_box {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 66.666%;
  height: 98%;
}

.sec7 .javascript .left .js_box iframe {
  width: 100%;
  height: 100%;
}

.sec7 .javascript .left .js_box .blind {
  position: absolute;
  top: 0;
  left: -5px;
  width: 101%;
  height: 100px;
  background: #fff;
}

.sec7 .javascript .left .game_titback {
  position: absolute;
  z-index: 3;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 94%;
  transform: translateY(-50%);
}

.sec7 .javascript .left .game_titback .msk_back {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  /* color: #fff; */
  line-height: 1;
  font-size: 5.5vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  mix-blend-mode: difference;
}

.sec7 .javascript .right .game_tit {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translateY(-50%);
  width: 600px;
  height: 400px;
}

.sec7 .javascript .right .game_tit em {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  color: #000;
  font-size: 1.1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.sec7 .javascript .right .game_tit .msk {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  line-height: 1;
  font-size: 5.5vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}